.jumbotron{
    color:#000000;
    background:#DAA520;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 400;
    line-height: 2.1428571435;
    font-style: bold;
    }

  
      
          
